.header {
  position: relative;
}

.ui.menu {
  margin-bottom: 0;
}

.header-photo {
  display: block;
  height: 270px;
  width: 100%;
  object-fit: cover;
}

.header-photo-shade {
  position: absolute;
  width: 100%;
  height: 270px;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
}

.header-photo-wrapper {
  position: relative;
}

#header-burger {
  width: 100%;
  cursor: pointer;
}
